# ----------------------
# Flask
# ----------------------
flask
Flask-WTF
Flask-SQLAlchemy
Flask-Migrate
Flask-login
psycopg2

# ----------------------
# Production Server
# ----------------------
gunicorn